<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="me.tatocaster.buildnumberoverlaylibrary">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity android:name=".AccessPermissionActivity"/>
        <service android:name=".OverlayService"/>
    </application>

</manifest>
